<div class="row landing">
    <div class="col-md-12">
        <h2>
            Items
        </h2>
        <table class="table table-striped">
            <tr class="item" ng-repeat="item in vm.items">
                <td ng-if="item.type == vm.ItemType.UNKNOWN">UNKNOWN</td>
                <td ng-if="item.type == vm.ItemType.NEWS">NEWS</td>
                <td ng-if="item.type == vm.ItemType.EVENT">EVENT</td>
                <td ng-if="item.type == vm.ItemType.CFP">CFP</td>
                <td ng-if="item.type == vm.ItemType.LECTURE">LECTURE</td>
                <td ng-if="item.type == vm.ItemType.SEMINAR">SEMINAR</td>
                <td ng-if="item.type == vm.ItemType.SCHOOL">SCHOOL</td>

                <td class="attributeValue attributeType-{{ attribute.type }}" ng-if="attribute.type == vm.AttributeType.TITLE" ng-repeat="attribute in item.attributes">{{ attribute.value }}</td>
                <!--<td class="attributeValue attributeType-{{ attribute.type }}" ng-if="attribute.type == vm.AttributeType.DESCRIPTION" ng-repeat="attribute in item.attributes">{{ attribute.value }}</td>-->
                <td class="attributeValue attributeType-{{ attribute.type }}" ng-if="attribute.type == vm.AttributeType.LONG_DESCRIPTION" ng-repeat="attribute in item.attributes">{{ attribute.value }}</td>
                <td class="attributeValue attributeType-{{ attribute.type }}" ng-if="attribute.type == vm.AttributeType.URL" ng-repeat="attribute in item.attributes"><a href="{{ attribute.value }}"><span class="glyphicon glyphicon-link"></span></a></td>
                <td class="attributeValue attributeType-{{ attribute.type }}" ng-if="attribute.type == vm.AttributeType.DATE" ng-repeat="attribute in item.attributes">{{ attribute.value }}</td>
                <td class="attributeValue attributeType-{{ attribute.type }}" ng-if="attribute.type == vm.AttributeType.DATE_START" ng-repeat="attribute in item.attributes">{{ attribute.value }}</td>
                <td class="attributeValue attributeType-{{ attribute.type }}" ng-if="attribute.type == vm.AttributeType.DATE_END" ng-repeat="attribute in item.attributes">{{ attribute.value }}</td>
                <td class="attributeValue attributeType-{{ attribute.type }}" ng-if="attribute.type == vm.AttributeType.DATE_PUBLISHED" ng-repeat="attribute in item.attributes">{{ attribute.value }}</td>
                <td class="attributeValue attributeType-{{ attribute.type }}" ng-if="attribute.type == vm.AttributeType.VENUE" ng-repeat="attribute in item.attributes">{{ attribute.value }}</td>
            </tr>
        </table>
    </div>
</div>