div.attributeType {
	font-weight: bold;
}

td.attributeType-1 {
	width: 15%;
}
td.attributeType-2 {

}
td.attributeType-3 {

}
td.attributeType-4 {

}
td.attributeType-5 {

}
td.attributeType-6 {

}
td.attributeType-7 {

}
td.attributeType-8 {

}